<!doctype html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        {{#each Emergencies}}
        <div class="block">{{TrainID}}</div>
        {{/each}}
    </div>
</body>
