<!--Login system -->
<!doctype html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <label>Логин</label>
        <input name = "username" class = "field">
        <label>Пароль</label>
        <input name = "password" class = "field">
    </div>
</body>