<!--Login system -->
<!doctype html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/img/rzd.jpg">

</head>
 
<body>
    <div class="vhod">
        <form action = "/index" method ="POST">
        <label>Логин</label>
        <input name = "username" class = "field"><br><br>
        <label>Пароль</label>
        <input name = "password" class = "field"><br><br>
        <button type = "submit">Войти</button>
        </form>
    </div>
</body>
