.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.block {
    border-radius: 25px;
    border: 2px solid rgb(36, 36, 36);
    padding: 20px;
    width: 80%;
    height: 80%;
    margin:auto;
}