.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.block {
    border-radius: 25px;
    border: 2px solid rgb(36, 36, 36);
    padding: 20px;
    width: 90%;
    height: 100%;
    margin:auto;
    text-align: left;
    font-size: medium;
}